* {
  margin: 0;
  padding: 0;
  font-family: 'Monserrat';
}

:root {
  --light-color:    #f0f3f5;
  --grey-color:     #c2c2c2;
  --card-color:     #ffffff;
  --black-color:    #333333;
  --main-color:     #a08cfa;
  --red-color:      #ff6c84;
  --blue-color:     #6ac7ed;
}

body{
  height: 125vh;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: var(--card-color);
  height: auto;
  width: 80%;
  padding: 3rem 1rem;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 4px solid orange; */
}

.image-upload{
  font-size: 10rem;
  color: var(--main-color);
}

.image-upload > input{
  display: none;
}

.image-upload img{
  width: 111px;
  cursor: pointer;
}


form{
  width: 70%;
}

.form-group{
  position: relative;
  margin: 25px 0;
}

.grid{
 display: grid;
 grid-template-columns: auto 50%;
 column-gap: 1rem;
}

.input-form ,select{
  width: 100%;
  border: none;
  height: 30px;
  font-weight: 900; 
  font-size: 16px;
  border-bottom: 2px solid var(--grey-color);
}

form span{
  position: absolute;
  width: 100%;
  bottom: 25%;
  left: 0%;
  font-size: 16px;
  color: var(--grey-color);
  pointer-events: none;
  transition: all .3s ease;
}

form i {
  color: var(--red-color);
}

input:focus + span, input:valid + span{
  transform: translateY(-100%);
  color: var(--main-color);
}

input:focus, input:valid, select:focus, select:valid{
  border-bottom: 2px solid var(--main-color);
  outline: none;
  color: var(--black-color);
}

select{
  border: none;
  border-bottom: 2px solid var(--grey-color);
}

.container{
  width: 70%;
  display: grid;
  grid-template-columns: auto 50%;
  column-gap: 1rem;
}

.btn{
  border-radius: 6px;
  width: auto;
  padding: 10px 15px;
  display: flex ;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  transition: .5s ease ;
  color: var(--grey-color);
}

.btn:hover{
  background-color: var(--red-color);
  color: white;
  cursor: pointer;
}

.btn:nth-child(2):hover{
  background-color: var(--blue-color);
}